ul {
    display: inline;
  }
  
  .add-todo-input {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  
  .list-item {
    border: 1px solid gray;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    font-weight: 600;
    justify-content: space-between;
    background-color: white;
  }
  
  .todo-input {
    padding: 10px;
    width: 180px;
  }

  .todo-select {
    padding: 10px;
    width: 95px;
    font-family: 'Comme', sans-serif;
  }
  
  .to-do-container {
    width: 400px;
    height: 480px;
    border: 1px solid gray;
    padding: 20px;
    border-radius: 5px;
    /* position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto; */
    background-color: azure;
  }
  
  .delete-label {
    margin-right: 2px;
  }

  .todo-meta-data {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
    padding: 10px 10px;
    background-color: beige;
  }

  .todo-title {
    text-decoration: none;
    width: 150px;
  }

  
  .todo-title-strike {
    text-decoration: line-through;
    width: 150px;
  }
  
  .low-priority {
    color: #2ECC40 ;
  }

  .medium-priority {
    color: #FF8C00;
  }

  .high-priority {
    color:  #FF4136;
  }

  .filter-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0px 10px;
  }

  .todo-select-filter {
    padding: 10px;
    width: 255px;
    font-family: 'Comme', sans-serif;
  }

  .filter-label {
    font-weight: 600;
  }

  .meta-data-container {
    border: 1px solid beige;
    border-radius: 6px;
  }
  
  .info-container {
    width: 400px;
    height: 480px;
    border: 1px solid gray;
    padding: 20px;
    border-radius: 5px;
    background-color: beige;
  }

  .content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
  }

  .content-list-item {
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 20px;
    font-family: 'Comme', sans-serif;
    text-align: justify;
  }

  .info-header {
    text-align: center;
  }

  .info-container ul {
    list-style-type: none;
  }

  input[type="checkbox"] {
    transform: scale(1.5);
  }